/*
 *  =============================================
 *  anywhere STYLES
 *  =============================================
 */

/*
 *  BASICS
 *  ---------------------------------------------
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  /* Force scrollbars to prevent bouncing effect b/t pages */
  overflow-y: scroll;

  font: 400 106.25%/1.4 $font-body;
  color: $color-body;
}

:focus {
  outline: 1px dotted;
  outline-offset: 1px;
}

::selection {
  background: #000;
  color: #fff;
}

::-moz-selection {
  background: #000;
  color: #fff;
}

a:link, a:visited {
  border-bottom: 1px solid;
  text-decoration: none;

  color: #000;
}

a:hover {
  background: #000;
  color: #fff;

  cursor: pointer;
}

/*
 *  TYPOGRAPHY
 *  ---------------------------------------------
 */

h1, h2 {
  font: 1.5em/1.125 $font-heading;
  text-transform: uppercase;
  letter-spacing: .05em;
}

li + li {
  margin-top: 1.5em;
}

@media (min-width: $bp-s) {
  h1, h2 {
    font-size: 1.75em;
  }
}

/*
 *  UTILITIES
 *  ---------------------------------------------
 */

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute !important;
}

/*
 *  HEADER
 *  ---------------------------------------------
 */

.site-header {
  position: fixed;
  z-index: 2;
  top: 2em;
  text-align: center;
  width: 100%;
}

a.site-title {
  display: inline-block;
  padding: .25em;
  border-bottom: 0;

  font-family: $font-heading;
  text-transform: uppercase;
  letter-spacing: .05em;
}

.site-title__name {
  display: block;
  
  font-family: $font-body;
  font-size: .75em;
}

/*
 *  MASTHEADS
 *  For context-specific styles, see home.scss
 *  and listview.css
 *  ---------------------------------------------
 */

.masthead {
  display: flex;
  align-items: center;

  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;

  padding: $space-s;

  text-align: center;
}

.masthead--pnw {
  background: $color-pnw;
}

.masthead--anywhere {
  right: 0;
  left: auto;
  background: $color-anywhere;
}

.masthead__title {
  display: inline-block;
  margin: 0 auto;
  background: #fff;

  a, span {
    display: inline-block;
    padding: .5em;
  }

  a:link, a:visited {
    border-bottom: 0;
  }

  a:hover {
    background: #000;
    color: #fff;
  }
}

@media (min-width: $bp-s) {
  .masthead {
    padding: $space-m;
  }
}