/*
 *  =============================================
 *  GLOBAL STYLES
 *  =============================================
 */

/*
 *  BASICS
 *  ---------------------------------------------
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  /* Force scrollbars to prevent bouncing effect b/t pages */
  overflow-y: scroll;

  font: 400 106.25%/1.4 $font-body;
  color: $color-body;
}

:focus {
  outline: 2px solid #f95948;
}

::selection {
  background: #000;
  color: #fff;
}

::-moz-selection {
  background: #000;
  color: #fff;
}

a:link, a:visited {
  border-bottom: 1px solid;
  text-decoration: none;

  color: #000;
}

a:hover {
  background: #000;
  color: #fff;

  cursor: pointer;
}

a:focus {
  border-color: transparent;
}

/*
 *  TYPOGRAPHY
 *  ---------------------------------------------
 */

h1, h2 {
  font: 1.325em/1.125 $font-heading;
  text-transform: uppercase;
  letter-spacing: .05em;
}

li + li {
  margin-top: 1.5em;
}

@media (min-width: $bp-s) {
  h1, h2 {
    font-size: 1.75em;
  }
}

/*
 *  UTILITIES
 *  ---------------------------------------------
 */

.u-vis-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute !important;
}

/*
 *  HEADER
 *  ---------------------------------------------
 */

.site-header {
  position: fixed;
  z-index: 2;
  top: 2em;
  text-align: center;
  width: 100%;
}

a.site-title {
  display: inline-block;
  padding: .25em;
  border-bottom: 0;
  background: #fff;
  font-size: .875em;
  text-transform: uppercase;
  letter-spacing: .05em;

  &:hover {
    background: #000;
  }
}

/*
 *  MASTHEADS
 *  For context-specific styles, see home.scss
 *  and listview.css
 *  ---------------------------------------------
 */

.masthead {
  display: flex;
  align-items: flex-end;

  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;

  padding: $space-s;

  text-align: center;
}

.masthead__image {
  position: absolute;
  z-index: -1;
  height: auto;

  /* Fallback */
  bottom: -50%;
  left: 0;
  width: 100%;

  /* With vmin */
  bottom: -45vmin;
  left: 50%;
  margin-left: -45vmin;
  width: 90vmin;

  mix-blend-mode: multiply;
}

.masthead__title {
  display: inline-block;
  margin: 0 auto;

  a, span {
    display: inline-block;
    padding: .5em;
  }

  span {
    background: #fff;
  }

  a:link, a:visited {
    border-bottom: 0;
    background: #000;
    color: #fff;
  }

  a:hover {
    background: #fff;
    color: #000;
  }
}

.masthead--pnw {
  background: $color-pnw;
}

.masthead--anywhere {
  align-items: flex-start;
  right: 0;
  left: auto;
  background: $color-anywhere;

  .masthead__image {
    bottom: auto;

    /* Fallback */
    top: -50%;

    /* With vmin */
    top: -45vmin;
  }
}

@media (min-width: $bp-s) {
  .masthead {
    padding: $space-m;
  }
}

@media (min-width: $bp-m) {
  .masthead {
    align-items: center;
  }

  .masthead__image {
    top: 50%;
    bottom: auto;
    left: auto;
    margin-left: 0;
  
    /* Fallback */
    margin-top: -300px;
    right: -300px;
    width: 600px;
  
    /* With vmin */
    margin-top: -42vmin;
    right: -42vmin;
    width: 84vmin;
  }

  .masthead--anywhere {
    .masthead__image {
      right: auto;
      top: 50%;

      /* Fallback */
      left: -300px;
    
      /* With vmin */
      left: -42vmin;
    }
  }

  @media (min-height: 50vw) {
    .site-header {
      top: 1.75vmin;
    }

    a.site-title {
      background: transparent;
    }
  }
}

/*
 *  HIGH CONTRAST
 *  ---------------------------------------------
 */

@media (-ms-high-contrast: active), (forced-colors: active) {
  a:link,
  a.site-title:link,
  .masthead__title a:link,
  .masthead__title a:visited {
    border-bottom: 2px solid;
  }
  
  a:hover,
  a.site-title:hover,
  .masthead__title a:hover {
    border-bottom-style: dashed !important;
  }

  a:focus {
    border-color: transparent;
  }

  .masthead__image {
    mix-blend-mode: normal;
  }

  .masthead__title a:focus {
    outline-offset: 0;
  }
}