/*
 *  =============================================
 *  HOME PAGE
 *  =============================================
 */

/*
 *  MASTHEAD
 *  ---------------------------------------------
 */

@media (max-width: $bp-m) {
  .home__masthead {
    width: 100%;
    height: 50%;
  }

  .home__masthead.masthead--global {
    top: auto;
    bottom: 0;
  }
}