/*
 *  =============================================
 *  HOME PAGE
 *  =============================================
 */

/*
 *  MASTHEAD
 *  ---------------------------------------------
 */

@media (max-width: $bp-m) {
  .body--home .masthead {
    width: 100%;
    height: 50%;
  }

  .body--home .masthead--anywhere {
    top: auto;
    bottom: 0;
  }
}