/*
 *  =============================================
 *  HOME PAGE
 *  =============================================
 */

/*
 *  MASTHEAD
 *  ---------------------------------------------
 */

@media (max-width: $bp-m) {
  .home__masthead {
    width: 100%;
    height: 50%;
  }

  .home__masthead.masthead--anywhere {
    top: auto;
    bottom: 0;
  }
}

@media (min-width: $bp-m) {
  @supports (animation-fill-mode: forwards) {
    .home__masthead .masthead__image {
      animation: slide 800ms 1s forwards;
    }

    .home__masthead.masthead--pnw
      .masthead__image {
        transform: translateY(2em);
      }
    }

    .home__masthead.masthead--anywhere {
      .masthead__image {
        transform: translateY(-2em);
      }
    }
  }

  @keyframes slide {
    to {
      transform: translateY(0);
    }
  }
}