/*
 *	ALL LISTS
 *	---------------------------------------------
 */

.half--pnw,
.list-view--pnw .list-view__header {
  background: $color-pnw;
}

.half--global,
.list-view--global .list-view__header {
  background: $color-global;
}

.list-view__header {
  padding: 12em $space-s $space-s;
  text-align: center;
}

.list-view__content {
  padding: $space-s;
}

.items {
  list-style: none;
  counter-reset: item;
}

.item {
  position: relative;
  padding-left: 2.75em;

  &:before {
    position: absolute;
    left: 0;
    width: 2em;
    text-align: right;

    content: counter(item);
    counter-increment: item;

    font: .75em/1.75 $font-heading;
    color: $color-meta;
  }
}

.item__notes {
  font-size: .825em;
  color: $color-meta;
}

@media (min-width: $bp-s) {
  .list-view__header {
    padding: 12em $space-m $space-s;
  }

  .list-view__content {
    padding: $space-m;
  }

  .item {
    padding-left: 3.25em;
  }
}

@media (min-width: $bp-m) {
  .list-view__header {
    display: flex;
    align-items: center;

    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;

    padding: 2em;

    text-align: center;
  }

  .list-view__content {
    width: 50%;
    padding: $space-xl $space-m;
  }

  .list-view--pnw .list-view__content {
    float: right;
  }
}

@media (min-width: $bp-l) {
  .list-view__content {
    padding: $space-xl $space-l;
  }

  .item__notes {
    font-size: .75em;
  }
}

@media (min-width: $bp-xl) {
  .list-view__content {
    padding: $space-xl;
  }
}

/*
 *	GLOBAL
 *	---------------------------------------------
 */

.list-view--global .list-view__header {
  right: 0;
  left: auto;
}