/*
 *  =============================================
 *  LISTVIEW PAGES
 *  =============================================
 */

/*
 *  MASTHEAD / LAYOUT
 *  ---------------------------------------------
 */

.list-view .masthead {
  position: relative;
  width: 100%;
  height: auto;

  padding-top: 12em;
}

.list-view__content {
  padding: $space-s;
}

@media (max-width: $bp-m) {
  .list-view .masthead--anywhere .masthead__image {
    /* Fallback */
    bottom: -50%;

    /* With vmin */
    top: auto;
    bottom: -45vmin;
  }
}

@media (min-width: $bp-s) {
  .list-view__content {
    padding: $space-m;
  }
}

@media (min-width: $bp-m) {
  .list-view .masthead {
    position: fixed;
    width: 50%;
    height: 100%;

    padding-top: $space-m;
  }

  .list-view__content {
    width: 50%;
    padding: $space-xl $space-s;
  }

  .list-view__content--pnw {
    float: right;
  }
}

@media (min-width: $bp-l) {
  .list-view__content {
    padding: $space-xl $space-l;
  }
}

/*
 *  BUCKETLIST ITEMS
 *  ---------------------------------------------
 */

.bucketlist {
  list-style: none;
  counter-reset: item;
}

.item {
  position: relative;
  padding-left: 2.75em;

  &:before {
    position: absolute;
    left: 0;
    width: 2em;
    text-align: right;

    content: counter(item);
    counter-increment: item;

    font: .75em/1.75 $font-heading;
    color: $color-meta;
  }

  > a:link {
    line-height: 1.6;
  }
}

.item__notes {
  font-size: .825em;
  color: $color-meta;
}

/* A little more space w/ link underline */
a + .item__notes {
  margin-top: .5em;
}

.item__completed {
  text-decoration: line-through;
}

a.item__completed-link {
  border-bottom: 2px solid #f95948;

  &:hover {
    border-bottom-color: #000;
  }

  &:focus {
    border-color: transparent;
  }
}

@media (min-width: $bp-s) {
  .item {
    padding-left: 3.25em;
  }
}

@media (min-width: $bp-l) {
  .item__notes {
    font-size: .75em;
  }
}

/*
 *  NEXT LIST LINK
 *  ---------------------------------------------
 */

.next-link {
  display: inline-block;
  position: relative;
  margin: 4em 0 0 2.75em;

  &:hover {
    color: #000;
  }

  &:focus {
    border-color: transparent;
  }

  &:hover:focus {
    outline-color: #000;
  }
}

.next-link__arrow {
  position: absolute;
  top: 50%;
  margin-top: -5px;
  left: -2.75em;
  width: 18px;
}

a.next-link--anywhere {
  border-bottom: 2px solid darken($color-anywhere, 33%);

  &:hover {
    background: darken($color-anywhere, 10%);
    border-color: darken($color-anywhere, 10%);
  }
}

a.next-link--pnw {
  border-bottom: 2px solid darken($color-pnw, 47%);

  &:hover {
    background: darken($color-pnw, 10%);
    border-color: darken($color-pnw, 10%);
  }
}

@media (min-width: $bp-s) {
  .next-link {
    margin: 5em 0 0 3.25em;
  }
}