<img class="masthead__image"
     src="/assets/images/{{ baseSrc }}-m.png"
     srcset="/assets/images/{{ baseSrc }}-s.png 1w,
     /assets/images/{{ baseSrc }}-m.png 850w,
     /assets/images/{{ baseSrc }}-l.png 1024w,
     /assets/images/{{ baseSrc }}-xl.png 1200w,
     /assets/images/{{ baseSrc }}-xxl.png 1600w"
     sizes="(min-width: 48em) 84vmin, 90vmin"
     alt="">