{% include head.html %}
{% include header.html %}

<h1 class="sr-only">Bucket lists compiled by Melanie Richards</h1>

<div class="masthead masthead--pnw">
    <h2 class="masthead__title">
        <a href="/pnw/">Pacific Northwest</a>
    </h2>
    {% include masthead-image.html baseSrc = "pnw" %}
</div>
<div class="masthead masthead--anywhere">
    <h2 class="masthead__title">
        <a href="/anywhere/">Anywhere</a>
    </h2>
    {% include masthead-image.html baseSrc = "anywhere" %}
</div>

{% include footer.html %}