{% include head.html %}
{% include header.html %}

<article class="halves">
    <header class="half half--{{ page.slug }}">
        <h1>{{ page.title }}</h1>
    </header>
    <div class="half">
        {{ content }}
        {% assign listCat = page.slug %}
        {% assign items = site.data.[listCat] %}
        <ul class="items">
            {% for item in items %}
                <li class="item">
                    {% if item.url %}
                        <a href="{{ item.url }}">{{ item.text }}</a>
                    {% else %}
                        <p>{{ item.text }}</p>
                    {% endif %}
                    {% if item.notes %}
                        <p class="item__notes">{{ item.notes }}</p>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</article>

{% include footer.html %}