{% include head.html %}
{% include header.html %}

<article class="list-view">
    <header class="masthead masthead--{{ page.slug }}">
        <h1 class="masthead__title">
            <span>{{ page.title }}</span>
        </h1>
        {% include masthead-image.html baseSrc = page.slug %}
    </header>
    <div class="list-view__content list-view__content--{{ page.slug }}">
        {{ content }}
        {% assign listCat = page.slug %}
        {% assign items = site.data.[listCat] %}
        <ol class="bucketlist">
            {% for item in items %}
                <li class="item">
                    {% if item.completed %}
                        <p>
                            <span class="sr-only">Completed:</span>
                            <span class="item__completed">{{ item.text }}</span>
                            {% if item.completedUrl %}
                                <a class="item__completed-link" href="{{ item.completedUrl }}">Done!</a>
                            {% endif %}
                        </p>
                    {% else %}
                        {% if item.url %}
                            <a href="{{ item.url }}">{{ item.text }}</a>
                        {% else %}
                            <p>{{ item.text }}</p>
                        {% endif %}
                    {% endif %}
                    {% if item.notes %}
                        <p class="item__notes">{{ item.notes }}</p>
                    {% endif %}
                </li>
            {% endfor %}
        </ol>
    </div>
</article>

{% include footer.html %}