{% include "head.njk" %}
{% include "header.njk" %}

<main role="main">
    <h1 class="u-vis-hidden">Bucket lists compiled by Melanie Richards</h1>

    <div class="masthead masthead--pnw">
        <h2 class="masthead__title">
            <a href="/pnw/" aria-label="Pacific Northwest bucket list">Pacific Northwest</a>
        </h2>
        {% set baseSrc = "pnw" %}
        {% include "masthead-image.njk" %}
    </div>
    <div class="masthead masthead--anywhere">
        <h2 class="masthead__title">
            <a href="/anywhere/" aria-label="Anywhere bucket list">Anywhere</a>
        </h2>
        {% set baseSrc = "anywhere" %}
        {% include "masthead-image.njk" %}
    </div>
</main>

{% include "footer.njk" %}